<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>CSS examples</title>
    <link href="../Assets/Stylesheets/layoutStyles.css" rel="stylesheet">

</head>

<body>
    <h4>Change the position attributes and check the results</h4>

    <div class="container">main container

        <div class="child"> child container

            <div class="inner-child"> inner child
                <div class="div1">
                    <img src="../Assets/Images/cat.gif" alt="Heart" style="width:100px;height:100px;">
                </div>
                <div class="div2">
                    should be accoompanied by 
                    <p>
                        position: absolute;
                        top: 40px;
                        left: 40px;
                    </p>
                </div>
            </div>

        </div>

    </div>




</body>

</html>