@import url('../Stylesheets/commonStyles.css');

*{
   font-style: italic;
   font-weight:bold;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
   color:greenyellow;
}

#idSelector{
   color:red;
}

.P,h2,h3{
   border: 4px dotted orangered;
   padding : 3px ;
   font-size: larger;
   color: green;
   font-weight: normal;
}