.container{
    margin: auto;
    height: 200px;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }


/* hide the default view */
.choosefile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

/* style the label */

.choosefile + label {
    font-weight: bolder;
    color: black;
    display: inline-block;
    padding: 20px;
    border-radius: 3px;
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
    box-shadow: chartreuse 2px 2px;
}

.choosefile:focus + label,
.choosefile + label:hover {
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);

}

/* touch inputs */

 label * {
	pointer-events: none;
}

/* ************************************************************************************************************** */

ol>li{
    list-style-type: none;
    display: inline;
    font-size: 20px;
    padding: 20px;
}

ul{
    list-style-type: none;
    list-style-image: url("../Assets/Images/listimg.png");
    list-style-position: inside; 
    
}
